.login-form{
    background-color: rgb(124, 120, 124);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
.loginBtn{
    width: 100px;
    background-color: rgb(84, 197, 250);
    border-radius: 10px;
    padding: 5px 5px;
  
}
.inputBtn{
background-image: linear-gradient(gray, rgb(156, 223, 240));
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;

    
}