.navbbar a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.navbbar a:hover{
    border: 1px solid rgb(247, 244, 244);
    border-radius: 5px ;
    background-color: rgba(140, 217, 240, 0.527);
    padding: 6px;
}